@import '../../../styles/variables.scss';

.card {
    position: relative;
    padding: 2rem;
    background-color: $sidebar;
    border-radius: 1rem;

    .edit {
        cursor: pointer;
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        padding: 0.5rem;
    }

    h2 {
        text-transform: uppercase;
        font-size: 1.2rem;
        color: $text;
        font-weight: 300;
        margin-bottom: 1rem;
    }

    h3 {
        font-weight: 400;
        font-size: 2rem;
        color: $black;
        margin-bottom: 3rem;
    }

    h4 {
        font-size: 1rem;
        font-weight: 300;
        color: $text;
        text-align: right;
    }
}