@import '../../../styles/variables.scss';

.no-card {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba($income, 0.6);
    border-radius: 1rem;

    svg {
        width: 6rem;
        height: 6rem;
        color: rgba($income, 0.6);
    }

    &:hover {
        border: 1px solid rgba($income, 0.8);

        svg {
            color: rgba($income, 0.8);
        }
    }
}