@import "../../../styles/variables.scss";

.card {
    filter: drop-shadow(0.2rem 0.2rem 0.4rem rgba($black, 0.25));
    position: absolute;
    top: calc(100% + 1.5rem);
    right: 10%;

    & > div {
        position: relative;
        min-width: 17rem;
        background-color: $white;
        border-radius: 0.5rem;

        &::before {
            content: '';
            display: block;
            width: 2rem;
            height: 1.5rem;
            position: absolute;
            right: 0.5rem;
            top: -1.5rem;
            background-color: $white;
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

        }
    }

    .list {
        list-style: none;

        li {
            position: relative;
            padding: 1.5rem 2rem;
            font-size: 1rem;
            text-align: left;
            color: $text;

            &:hover {
                cursor: pointer;
                background-color: rgba($income, 0.1);
                color: $income;
                font-weight: 500;

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0.2rem;
                    height: 100%;
                    background-color: $income;
                }
            }
        }
    }
}