@import './variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62,5%;
}

body {
    font-family: $fontFamily;
    font-size: 1.6rem;
    min-height: 100vh;
}

h1, 
.h1 {
    font-size: 2rem;
    font-weight: 700;
    color: $black;
}

h2,
.h2 {
    font-size: 1.6rem;
    font-weight: 500;
    color: $black;
}